{
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": true,
        "tabWidth": 2,
        "useTabs": false,
        "bracketSpacing": true,
        "semi": true
      }
    }
  ]
}
