// _utils.scss

// Spacing custom properties
:root {
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
}

// Utility padding classes
.padding-inline-sm {
  padding-right: var(--spacing-sm);
  padding-left: var(--spacing-sm);
}

.padding-inline-md {
  padding-right: var(--spacing-md);
  padding-left: var(--spacing-md);
}

.padding-inline-lg {
  padding-right: var(--spacing-lg);
  padding-left: var(--spacing-lg);
}

.padding-block-sm {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.padding-block-md {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.padding-block-lg {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

// utility margin classes
.margin-inline-sm {
  margin-right: var(--spacing-sm);
  margin-left: var(--spacing-sm);
}

.margin-inline-md {
  margin-right: var(--spacing-md);
  margin-left: var(--spacing-md);
}

.margin-inline-lg {
  margin-right: var(--spacing-lg);
  margin-left: var(--spacing-lg);
}

.margin-block-sm {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.margin-block-md {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.margin-block-lg {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

// Flex utilities
.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-gap-sm {
  gap: var(--spacing-sm);
}
.flex-gap-md {
  gap: var(--spacing-md);
}
.flex-gap-lg {
  gap: var(--spacing-lg);
}
.flex-gap-xl {
  gap: var(--spacing-xl);
}
.flex-gap-2xl {
  gap: var(--spacing-2xl);
}
